body {
  font-family: Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  padding-top: 40px;
}

h2, h3, h4 {
  color: #2c3e50;
}

.error {
  color: red;
}

form {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

a {
  color: #6c5ce7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}


.savedShows,
#results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.savedShowCard,
.result {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.savedShowCard img,
.result img {
  max-width: 100px;
}

.savedShowCard p {
  margin: 8px 0;
}

.savedShowCard h4 {
  margin: 0 0 8px 0;
  padding: 0;
}

.result h3 {
  margin: 8px; 
  color: #2d3436;
}

.moveUp,
.moveDown{
  margin-right: 8px;
  background-color: #cfc7d4;
}

.moveUp:hover,
.moveDown:hover{
  background-color: #b8b1bd;
}

.deleteButton {
  background-color: #f34646;
}
.deleteButton:hover {
  background-color: #ca3939;
}

.top-right-buttons {
  position: fixed;
  top: 20px;
  right: 30px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.logoutButton,
.adminButton,
.dashboardButton {
  color: white;
  background-color: #f37676;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButton:hover,
.adminButton:hover,
.dashboardButton:hover {
  background-color: #cf5656;
}